@use 'config/reset';
@use 'config/variables'; 
@use 'sass:math';

@mixin elementoForm($margin: 16px) {
    padding: 8px;
    display: block;
    width: 100%;
    margin-bottom: $margin;
}

@function pixelToEm($targetPixel, $contextPixel: 16px){
    @return math.div($targetPixel, $contextPixel)+em;
}

body{
    background-color: variables.$backgroundColor;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header{
    padding: 16px 0;
    background-color: variables.$primaryColor;
    text-align: center;
    color: #fff;
}

.form-container{
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 760px;

    h2{
        font-size: pixelToEm(48px);
        text-align: center;
    }

    form{
        width: 100%;
        max-width: 480px;
        margin-top: 40px;

        label{
            font-weight: bold;
            cursor: pointer;
        }

        input{
            @include elementoForm();
            background-color: transparent;
            border: none;
            border-bottom: 3px solid variables.$primaryColor;
        }

        button{
            @include elementoForm();
            background-color: variables.$secondaryColor;
            border: none;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
            color: #fff;

            &:hover{
                background-color: darken(variables.$secondaryColor, 15%);
            }
        }
    }
}

@media screen and (max-width: variables.$mobile) {
    .container {
        max-width: 80%;
    }
}